
body {
    background-image: url("3D.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  header {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ff0000;
  }
  